<header class="site-header">

  <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

  {% assign current = page.url | downcase | split: '/' %}
  <nav class="site-nav">
    <ul>
      <li><a class="page-link {% if current[1] == 'index.html' %}is-active{% endif %}" href="/">Home</a></li>
      <li><a class="page-link {% if current[1] == 'blog' %}is-active{% endif %}" href="/blog">Blog</a></li>
      {% for page in site.pages %}
        {% if page.title %}
        {% assign generated = page.url | downcase | split: '/' %}
        <!-- <li><a class="page-link {% if current[1] == generated[1] %}is-active{% endif %}" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li> -->
        {% endif %}
      {% endfor %}
    </ul>
  </nav>

</header>
