/**
 * Site header
 */
.site-header {
    min-height: 4em; /* 64px / 16px */
    text-align: center;
}

.site-title {
    display: block;
    min-height: 70px;
    margin-top: 5px;

    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 4em; /* 64px / 16px */
    line-height: 1;
    text-transform: uppercase;
    word-spacing: 0.3em;
    opacity: 0.6;

    transition: all .4s ease;

    &:hover {
      text-decoration: none;
      opacity: 1;
    }

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

@include media-query($medium) {
    .site-title:before,
    .site-title:after {
      content: "";
      display: inline-block;
      width: 200px;
      height: 1px;
      bottom: .1em;
      position: relative;
      vertical-align: middle;
      background-color: $grey-color-dark;
    }

    .site-title:before {
      right: 29px;
      margin-left: -50%;
    }

    .site-title:after {
      left: 29px;
      margin-right: -50%;
    }
}

.site-nav {
    line-height: 3.5em; /* 56px / 16px */

    li {
      display: inline-block;
      list-style: none;
    }

    li + li {
      margin-left: 1.25em; /* 20px / 16px */
    }

    .page-link {
        display: inline-block;
        min-width: 100px;
        padding: 10px;
        border-radius: 5px;

        color: $text-color;
        line-height: $base-line-height;

        &:hover,
        &:focus,
        &.is-active {
          background-color: $grey-color-light;
          text-decoration: none;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit/2 0;
    border-top: 1px solid $grey-color-light;
    color: $grey-color;
    text-align: center;
}

.contact-list,
.description-list {
    list-style: none;
    margin-left: 0;
}

.description-list {
    font-size: $small-font-size;
}

.contact-list {
  width: 40%;
}

.contact-list.col1 {
  float: left;
  text-align: left;
}

.contact-list.col2 {
  float: right;
  text-align: right;
}

a {
  opacity: 0.7;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }

  &,
  &:visited {
    color: $grey-color;
  }

  &:hover,
  &:active,
  &:focus {
    color: $brand-color;
    opacity: 1.0;

    .icon path {
      fill: $brand-color;
    }
  }
}

@include media-query($medium) {
  .contact-list.col1,
  .contact-list.col2 {
    display: inline-block;
    float: none;
    width: auto;
  }

  .contact-list.col2 {
    margin-left: 1.2em;
    text-align: left;
  }

  .contact-list,
  .description-list {
      list-style: none;

      li {
        display: inline-block;
      }

      li + li {
        margin-left: 1.2em;
      }

  }

}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 1.25em; /* 20px / 16px */
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }

    .post-meta {
        display: block;
        margin: 0;
        font-size: 14px;
        color: $grey-color;
    }
}

.other-posts {
    margin: 4em 0 0.5em;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 2.625em; /* 42px / 16px */;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($large) {
        font-size: 2.25em; /* 36px / 16px */;
    }
}

.post-meta {
    display: block;
    margin: 1em 0;
    font-size: 16px;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.more-link {
    display: inline-block;
    padding: 5px 10px;

    border-radius: 2px;

    background-color: $brand-color;

    font-size: $small-font-size;

    &,
    &:visited {
      color: white;
      opacity: 0.7;
    }

    &:hover,
    &:active,
    &:focus {
      color: white;
      opacity: 1.0;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($large) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($large) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($large) {
            font-size: 18px;
        }
    }
}
